<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
  <div class="container">


    <div class="d-none d-lg-inline-flex">
      <a class="navbar-brand" href="{{ site.url }}">
      {{ site.title }}
      </a>
    </div>



    <button type="button" class="navbar-toggler collapsed" id="nav_mobile_toggle_button">
          <span><i class="fas fa-bars"></i></span>
    </button>



    <div class="navbar-brand-mobile-wrapper d-inline-flex d-lg-none">
      <a class="navbar-brand" href="{{ site.url }}"> {{ site.title }} </a>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse main-menu-item collapse justify-content-start" id="navbar-content">

      <!-- Left Nav Bar -->
      <ul class="navbar-nav d-md-inline-flex">
        {% for link in site.data.navigation.main %}
        <li class="nav-item"><a   class="nav-link" href="{{ site.url }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    </div>




  </div><!-- /.container -->
</nav>
