@media (max-width: 992px) {
  .navbar {
    height: 50px;
  }
}
@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}


.navbar-top-wrapper {
padding: .5rem;
  border-bottom: 1px solid lightgray;
}

.navbar {
  padding: 0 1rem;
}


.navbar .container, .navbar .container-fluid, .navbar .container-sm, .navbar .container-md, .navbar .container-lg, .navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


#navbar-main {

  .d-none {
    display: none !important;
  }
  .navbar-toggler {
    background-color: #ffffff;
    border: 0;
  }


  .d-inline-flex {
    display: inline-flex !important ;
  }


  button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
  }

  .navbar-toggler {
    border: 0 !important;
    position: relative;
    z-index: 1030;
  }
  .navbar-toggler {
    padding: .25rem 0;
    font-size: 1.125rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
  }

  .collapse:not(.show) {
    display: none;
  }

  .justify-content-start {
    justify-content: flex-start !important;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
  }


  .navbar-nav {
    display: flex  ;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .nav-link {
    display: block;
    padding: .5rem 1rem;
  }

  .navbar-brand {

    font-weight: 700;
    position: relative;

    display: inline-block;
    padding-top: .35rem;
    padding-bottom: .35rem;
    margin-right: 9rem;
    font-size: 1.2rem;
    line-height: inherit;
    white-space: nowrap;
  }


  @media (max-width: 992px) {
    .navbar-collapse {
      /* display: flex !important    ;
       flex-basis: auto;*/

      z-index: 1031 !important;
      position: absolute;
      left: 0;
      top: 50px;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 .125rem .25rem 0 rgba(0, 0, 0, .11);
      padding-left: 1rem;
    }
  }


  @media (min-width: 992px) {

    .navbar-nav {
      flex-direction: row;
    }

    .d-lg-none {
      display: none !important;

    }

    .d-lg-inline-flex {
      display: inline-flex !important;
      padding-right: 1rem;
    }

    .navbar-collapse {
       display: flex !important    ;
       flex-basis: auto;
    }

    .navbar-toggler {
      display: none;
    }

    .container {
      flex-wrap: nowrap;
    }



    .navbar-nav .nav-link {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }


}




.publication-link-button {
  color: #000000;
  border: 1px solid #000000;
  padding: 0.1rem 0.5rem;
  font-size: 12px;
}



.t-grid-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.6rem;
  padding: 0 0 50px 0;
}
.t-grid-item {

}
.t-grid-item-img {
  width: 100%; /* 图片宽度设置为100%，填满单元格 */
  height: auto; /* 图片高度自动，保持宽高比 */
  display: block; /* 移除图片下方的间隙 */
}